.App {
    margin-top: 100px;
    min-width: 420px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
}

.form {
    width: 540px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form__select {
    width: 95px;
    border-radius: 5px;
    border: 1px solid #5f5f5f;
}

.form__input {
    width: 240px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #5f5f5f;
    font-style: oblique;
}

.list__container {
    list-style-type: none;
    padding: 0;
    width: 540px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list__wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.list__checkbox {
    width: 50px;
}
.list__text {
    flex-grow: 1;
}

.list__input {
    flex-grow: 1;
    height: 24px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #5f5f5f;
}
.list__text {
    padding: 5px;
}

.form__button {
    width: 120px;
}

button {
    width: 85px;
    text-align: center;
}
