* {
    text-align: center;
    font-family: "Roboto Mono", monospace;
}

html {
    background-color: rgba(155, 15, 0, 0.3);
}

body {
    width: 640px;
    margin: auto; /* 너비에서 남는 여백을 동일하게 분배 */

}

h1 {
    font-size: 3rem;
}

img {
    width: 300px;
    height: 200px;
    border-radius: 50px;
}

p {
    font-size: 1.3rem;
}